* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	width: 85vw;
	background-color: rgb(255, 255, 255);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 6fr;
	row-gap: 25px;
}

/* header starts here */
.header {
	background-color: rgba(103, 113, 114, 0.349);
	grid-column: 2/-1;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: minmax(50px, 1fr) 2fr;
	gap: 5px;
	box-shadow: 0px 8px 9px -4px rgba(0, 0, 0, 0.58);
}

.top {
	/* background-color: blueviolet; */
	grid-column: 1/-1;
	grid-row: 1/2;
	display: grid;
	gap: 20px;
	grid-template-columns: 3.5fr 1.5fr;
	align-content: center;

}

.top-left {
	grid-column: 1/ 2;
	display: grid;
	grid-template-columns: 1fr 9fr;
	align-content: center;
	padding: 0 40px 0 20px;
}

.top-left>input {
	border-style: none;
	border-radius: 30px;
	padding-left: 20px;
	background-color: rgba(162, 171, 179, 0.4);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}

.top-right {
	grid-column: 2/-1;
	display: grid;
	grid-template-columns: 0.5fr 1fr 2fr;
	align-content: center;
	padding-top: 10px;
}

.top-right> :nth-child(2) {
	margin-top: -10px;
}

.bottom {
	grid-column: 1/-1;
	grid-row: 2/-1;
	display: grid;
	gap: 20px;
	grid-template-columns: 1.6667fr 1fr;
}

.bottom-left {
	display: flex;
	align-items: center;
	padding-left: 7%;
	gap: 3%;
	font-size: 1.4rem;
}

.bottom-left>img {
	box-shadow: 0px 12px 0px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 13px 15px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
}

.bottom-right {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: center;
	gap: 20%;
	padding-right: 8%;
	justify-content: space-between;

}

button {
	border-style: none;
	border-radius: 5px;
	background-color: rgb(0, 4, 255);
	height: 2rem;
	color: white;
	font-weight: bolder;
	font-size: 1.2rem;
}

/* header ends here */
.sidebar {
	display: grid;
	grid-template-rows: 1fr 4fr 2fr 5fr;
	background-color: rgba(73, 136, 230, 0.21);
	grid-column: 1/2;
	grid-row: 1/-1;
	color: rgba(59, 56, 56, 0.87);
	font-weight: bold;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px;
	box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.09);
}

.logo>.box {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background-color: aliceblue;
}

.sidebar>.logo>.name {
	margin-left: 20px;
	font-size: 2rem;
	font-weight: bolder;
}

.list {
	width: 100%;
	display: flex;
	margin-top: 10px;
	padding-left: 20%;
	cursor: pointer;
	position: relative;
	transition: 0.5s;
	cursor: pointer;
	margin: 3px;
}

.list:hover {
	background-color: rgba(240, 248, 255, 0.4);
	padding-right: 24px;
	padding-left: 8px;
	box-shadow: 0px 0 5px 0px rgba(0, 0, 0, 0.5);

}


.chooses>ul,
.settings>ul {
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

/* sidebar ends here */
ul li {
	padding-top: 8px;
	height: 40px;
	list-style-type: none;
	padding-left: 20px;
	display: flex;
	justify-content: center;
	gap: 10px;

}

li img {
	height: 1.7rem;
}

/* .main-content starts here */
.main-content {
	grid-column: 2/-1;
	grid-row: 2/-1;
	display: grid;
	grid-template-columns: 2.25fr 1fr;
	grid-template-rows: 25px 1fr;
	gap: 10px;
}

.main-content-top {
	padding-left: 15px;
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: 2.25fr 1fr;
}

.main-left {
	display: grid;
	padding: 15px;
	gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.main-left-box {
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	grid-template-rows: 0.2fr 1fr 0.2fr;
	column-gap: 25px;
	padding-left: 15px;
	background-color: rgba(87, 79, 69, 0.192);
	box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.55);
}

.main-left-box>h3 {
	grid-column: 1/-1;
	grid-row: 1/2;
}
.main-left-box > a{
	grid-column: 1/2;
	grid-row: 2/3;
}
.forks{
	grid-column: 1/-1;
	grid-row: -2/-1;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 5%;
	padding-right: 5%;
	padding-bottom: 7%;
}
.main-icons {
	height: 30px;
}
a>img{
	width: 100%;
}
.main-right{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 20px;
}
.main-right-top,
.main-right-bottom{
	width: 90%;
	margin-right: 20px;
	justify-items: end;
	align-content: space-around;
	background-color: rgba(99, 81, 177, 0.037);
	box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.55);
}
.main-right-top,
.main-right-bottom{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.main-right-top,
.main-right-bottom{
	padding: 10px 20px 0;
}
/* all done */